.sidebar{

width:280px;

min-height:100vh;

background:#f585eb;

padding:25px;

display:flex;

flex-direction:column;

justify-content:space-between;

box-shadow:5px 0 25px rgba(139,92,246,.08);

}

.logo{

display:flex;

gap:15px;

align-items:center;

}

.logoIcon{

font-size:40px;

}

.logo h2{

margin:0;

color:#6D28D9;

}

.logo p{

margin-top:5px;

font-size:13px;

color:#7C6F9E;

}

.menu{

list-style:none;

padding:0;

margin-top:40px;

}

.menu li{

display:flex;

align-items:center;

gap:15px;

padding:16px 20px;

margin-bottom:12px;

border-radius:18px;

cursor:pointer;

font-weight:600;

transition:.3s;

color:#5B4A87;

}

.menu li:hover{

background:#EDE9FE;

transform:translateX(6px);

}

.active{

background:linear-gradient(90deg,#8B5CF6,#A78BFA);

color:white!important;

box-shadow:0 10px 25px rgba(139,92,246,.25);

}

.logout{

border:none;

padding:15px;

border-radius:18px;

background:#EDE9FE;

cursor:pointer;

font-size:16px;

color:#6D28D9;

}